---
import '../styles/global.css'
import Hero from '../components/Hero.astro'
import OurStory from '../components/OurStory.astro'
import InvitePage from '../components/InvitePage'
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>You're Invited</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Lato:wght@300;400&display=swap"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Lato:wght@300;400&display=swap" rel="stylesheet" />
    </noscript>
  </head>
  <body>
    <Hero />
    <OurStory />
    <InvitePage
      client:visible
      apiUrl={import.meta.env.PUBLIC_API_URL}
      siteUrl={import.meta.env.PUBLIC_SITE_URL}
    />
  </body>
</html>
